<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
    <h1>Register</h1>
    <form method="POST" th:action="@{/register}" th:object="${registrationForm}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <label for="userRegisterName">Username:</label>
        <input type="text" id="userRegisterName" th:field="*{userRegisterName}" th:value="*{userRegisterName}" />
        <span class="validationError" th:if="${not #strings.isEmpty(registrationForm.userRegisterNameError)}"
            th:text="${registrationForm.userRegisterNameError}">Name Error</span>

        <br />
        <label for="userRegisterPassword">Password:</label>
        <input type="password" id="userRegisterPassword" th:field="*{userRegisterPassword}" />
        <span class="validationError" th:if="${not #strings.isEmpty(registrationForm.userRegisterPasswordError)}"
            th:text="${registrationForm.userRegisterPasswordError}">Name Error</span>

        <br />
        <label for="userRegisterPasswordConfirm">Confirm password:</label>
        <input type="password" id="userRegisterPasswordConfirm" th:field="*{userRegisterPasswordConfirm}" />
        <span class="validationError" th:if="${not #strings.isEmpty(registrationForm.userRegisterPasswordConfirmError)}"
            th:text="${registrationForm.userRegisterPasswordConfirmError}">Name Error</span>

        <br />
        <label for="fullname">Full name:</label>
        <input type="text" id="fullname" th:field="*{fullname}" />
        <span class="validationError" th:if="${not #strings.isEmpty(registrationForm.fullnameError)}"
            th:text="${registrationForm.fullnameError}">Name Error</span>

        <br />
        <label for="street">Street:</label>
        <input type="text" id="street" th:field="*{street}" />
        <span class="validationError" th:if="${not #strings.isEmpty(registrationForm.streetError)}"
            th:text="${registrationForm.streetError}">Name Error</span>

        <br />
        <label for="city">City:</label>
        <input type="text" id="city" th:field="*{city}" />
        <span class="validationError" th:if="${not #strings.isEmpty(registrationForm.cityError)}"
            th:text="${registrationForm.cityError}">Name Error</span>
        <br />
        <label for="state">State:</label>
        <input type="text" id="state" th:field="*{state}" />
        <span class="validationError" th:if="${not #strings.isEmpty(registrationForm.stateError)}"
            th:text="${registrationForm.stateError}">Name Error</span>
        <br />
        <label for="zip">Zip code:</label>
        <input type="text" id="zip" th:field="*{zip}" />
        <span class="validationError" th:if="${not #strings.isEmpty(registrationForm.zipError)}"
            th:text="${registrationForm.zipError}">Name Error</span>
        <br />
        <label for="phone">Phone number:</label>
        <input type="text" id="phone" th:field="*{phone}" />
        <span class="validationError" th:if="${not #strings.isEmpty(registrationForm.phoneError)}"
            th:text="${registrationForm.phoneError}">Name Error</span>
        <br />
        <input type="submit" />
    </form>
</body>

</html>